<% include partials/_header %>


<section class="services py-5" id="services">
    <div class="container">
    <div class="row">
        <!--single service-->
        <div class="col-md-4 text-center my-3">
            <!-- 
                https://www.iconfinder.com/icons/63108/choco_cocos_cupcake_icon
            -->
            <img src="images/cupcake.png" alt="cupcake-icon">
            <h6 class="text-uppercase my-3 service-title">cupcake</h6>
            <p class="text-left mx-auto w-75 service-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illo eaque laboriosam nostrum doloribus ad libero distinctio, quas ratione eligendi.
            </p>
        </div>
        <!--end of single service-->
        <!--single service-->
        <div class="col-md-4 text-center my-3">
            <!-- 
                https://www.iconfinder.com/icons/2138191/baker_bakery_bread_dessert_food_icon
            -->
            <img src="images/bread.png" alt="bread-icon">
            <h6 class="text-uppercase my-3 service-title">bread</h6>
            <p class="text-left mx-auto w-75 service-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illo eaque laboriosam nostrum doloribus ad libero distinctio, quas ratione eligendi.
            </p>
        </div>
        <!--end of single service-->
        <!--single service-->
        <div class="col-md-4 text-center my-3">
            <!-- 
                https://www.iconfinder.com/icons/3348/candy_icon
            -->
            <img src="images/candy.png" alt="candy-icon">
            <h6 class="text-uppercase my-3 service-title">candy</h6>
            <p class="text-left mx-auto w-75 service-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam illo eaque laboriosam nostrum doloribus ad libero distinctio, quas ratione eligendi.
            </p>
        </div>
        <!--end of single service-->
    </div>
    </div>
    </section>





    
<!--order cake section-->
<section class="cakes py-5" id="cakes">
    <div class="container">
    <!--section title-->
    <div class="row">
        <div class="col-10 text-center mx-auto col-md-6">
            <h1 class="text-capitalize"> order <strong class="banner-title"> cake </strong></h1>
        </div>
    </div>
    <!--end of section title-->
    <div class="row">
        <!--single cake-->
        <div class="col-11 mx-auto col-md-6 col-lg-4 my-4 text-capitalize text-center px-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3>birthday-cake</h3></li>
                <li class="list-group-item text-muted">birthday cake with a name</li>
                <li class="list-group-item text-muted">custom ingredients</li>
                <li class="list-group-item text-muted">custom size</li>
                <li class="list-group-item text-muted">custom design</li>
            </ul>
            <a href="order-form.html" class="btn btn-pink my-3">order now</a>
            <p class="text-lowercase text-muted">starting at $5</p>
            <img src="images/trans-1.png" class="img-fluid" alt="birthday-cake">
        </div>
        <!--end of single cake-->
        <!--single cake-->
        <div class="col-11 mx-auto col-md-6 col-lg-4 my-4 text-capitalize text-center px-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3>custom-cake</h3></li>
                <li class="list-group-item text-muted">custom cake with a name</li>
                <li class="list-group-item text-muted">custom ingredients</li>
                <li class="list-group-item text-muted">custom size</li>
                <li class="list-group-item text-muted">custom design</li>
            </ul>
            <a href="order-form.html" class="btn btn-pink my-3">order now</a>
            <p class="text-lowercase text-muted">starting at $5</p>
            <img src="images/trans-2.png" class="img-fluid" alt="custom-cake">
        </div>
        <!--end of single cake-->
        <!--single cake-->
        <div class="col-11 mx-auto col-md-6 col-lg-4 my-4 text-capitalize text-center px-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h3>wedding-cake</h3></li>
                <li class="list-group-item  text-muted">wedding cake with a name</li>
                <li class="list-group-item text-muted">custom ingredients</li>
                <li class="list-group-item text-muted">custom size</li>
                <li class="list-group-item text-muted">custom design</li>
            </ul>
            <a href="order-form.html" class="btn btn-pink my-3">order now</a>
            <p class="text-lowercase text-muted">starting at $5</p>
            <img src="images/trans-3.png" class="img-fluid" alt="wedding-cake">
        </div>
        <!--end of single cake-->
    </div>
    </div>
    </section>
    <!--end of order cake section-->
    
    
    
    
    <!--blog section-->
    <section class="blog pb-5" id="blog">
    <div class="container">
    <!--section title-->
    <div class="row">
        <div class="col-10 text-center mx-auto col-md-6">
            <h1 class="text-capitalize"> our <strong class="banner-title"> blog </strong></h1>
        </div>
    </div>
    <!--end of section title-->
    <div class="row">
        <!--single blog-->
        <div class="col-md-4 py-3">
            <div class="card">
                <a href="blog.html">
                    <div class="blog-img">
                        <img src="images/cake-1.jpg" alt="" class="img-top img-fluid blog-image">
                        <div class="blog-text text-center py-4">
                            <h4 class="text-capitalize">blog-title</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro!</p>
                            <div class="crumbs">
                                <nav aria-level="breadcrumb" class="breadcrumb-items">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span id="date">june 18, 2020</apan></li>
                                        <li class="breadcrumb-item"><span id="comments">comments</apan></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--end of single blog-->
        <!--single blog-->
        <div class="col-md-4 py-3">
            <div class="card">
                <a href="blog.html">
                    <div class="blog-img">
                        <img src="images/sweet-1.jpg" alt="" class="img-top img-fluid blog-image">
                        <div class="blog-text text-center py-4">
                            <h5 class="text-capitalize">blog-title</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro!</p>
                            <div class="crumbs">
                                <nav aria-level="breadcrumb" class="breadcrumb-items">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span id="date">june 18, 2020</apan></li>
                                        <li class="breadcrumb-item"><span id="comments">comments</apan></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--end of single blog-->
        <!--single blog-->
        <div class="col-md-4 py-3">
            <div class="card">
                <a href="blog.html">
                    <div class="blog-img">
                        <img src="images/cupcake-1.jpg" alt="" class="img-top img-fluid blog-image">
                        <div class="blog-text text-center py-4">
                            <h5 class="text-capitalize">blog-title</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, porro!</p>
                            <div class="crumbs">
                                <nav aria-level="breadcrumb" class="breadcrumb-items">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><span id="date">june 18, 2020</apan></li>
                                        <li class="breadcrumb-item"><span id="comments">comments</apan></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--end of single blog-->
    </div>
    </div>
    </section>
    <!--end of blog section-->


<% include partials/_footer %>
